{% include header.html %}

  <section class="projects">
    {% assign sorted_projects = site.projects | sort:"position", "last" %}
    {% for project in sorted_projects %}
    <a class="project-card" href="{{ project.url }}">
      {% if project.thumbnail_image %}
        <img class="project-card__thumb" src="{{ project.thumbnail_image }}" alt="project.title">
        {% else %}
        <img class="project-card__thumb" src="uploads/thumbnail.svg" alt="project.title">
      {% endif %}
      <div class="project-card__details">
        <h2 class="project-card__details__title">{{ project.title }}</h2>
      </div>
    </a>
    {% endfor %}
  </section>

{% include footer.html %}